.Main {
    background: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    width: 100%;
}
.Logo {
    height: 5vw;
    width: 5vw;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
.Search {
    margin-right: 5vw;
    display: flex;
    align-items: center;
}
.InputValue {
    width: 18vw;
    height: 2vw;
    border: none;
    border-radius: 2vw;
    background: rgb(180, 227, 227);
}
input[type=text]:focus {
    background: white;
  }